/** MOBILE CSS */
:root {
  --main-color: #231a08;
  --secondary-color: bisque;
  --tertiary-color: aquamarine;
  --main-tran-color: #231a08b9;
  --white-color: white;
  --secondary-border-color: bisque 2px solid;
  --box-shadow: 0px 6px 14px rgb(0, 0, 0);
}
* {
  padding: 0%;
  margin: 0%;
}
/* TOGGLE CSS */
.toggleOff {
  display:none;
  visibility: hidden;
}
.toggleOn {
  display: block;
}
/* HOMEPAGE CSS */
#home {
  background-image: url(../public/pexels-rachel-claire-5490965.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
  /* height: 86vh; */
  height: auto;
}
#home-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  background-color: var(--main-color);
  padding: 2em;
  border-bottom: var(--secondary-border-color);
}
#home-header h1 {
  display: flex;
  justify-content: center;
  width: 100%;
}
#home-header h1 a {
  color: var(--secondary-color);
  letter-spacing: .1em;
}
#home-header h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 1em;
}
#home-header h3 a {
  color: var(--main-color);
  letter-spacing: .1em;
  background-color: var(--tertiary-color);
  padding: .3em .5em;
  border-radius: 5px;
}
#home-header h3 a:hover {
  background-color: var(rgb(128, 187, 167));
  color: var(--main-color);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
#home-nav {
  display: flex;
  display: column;
  justify-content: center;
  padding: 8em 5em;
}
#home-nav ul {
  display: flex;
  flex-direction: column;
  background-color: var(--main-tran-color);
  border: var(--secondary-border-color);
  padding: 2em;
  border-radius: 5px;
}
#home-nav ul h3 {
  text-align: center;
  color: var(--secondary-color);
  padding-bottom: 1em;
  font-weight: 800;
  font-size: x-large;
}
#home-nav ul li {
  margin: .7em;
  text-align: center;
}
#home-nav ul li a {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: large;
  padding: .3em 0;
  letter-spacing: .1em;
}
#home-nav ul li a:hover {
  border-bottom: var(--tertiary-color) 2px solid;
}

/* #open {
  color: var(--white-color);
  font-weight: 900;
  cursor: pointer;
  padding: 1em;
  width: fit-content;
  box-sizing: border-box;
  border: var(--secondary-color) solid;
  border-radius: 5px;
}
#open:hover {
  color: var(--tertiary-color);
} */

.closed {
  display: none;
}

/* 2ND HEADER CSS */
#header {
  padding: 0 1em;
  display: block;
  background-color: var(--main-color);
  border-bottom: var(--secondary-border-color);
}
#header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
#header nav ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#header nav ul li, #header nav h1, #header nav h3 {
  padding: 1em 0;
}
#header nav ul li a, #header nav h1 a {
  color: var(--secondary-color);
  padding: 1em;
  font-weight: 800;
  letter-spacing: .1em;
}
#header nav h3 {
  background-color: var(--tertiary-color);
  padding: .3em .5em;
  border-radius: 5px;
}
#header nav h3 a:hover {
  background-color: var(rgb(128, 187, 167));
  color: var(--main-color);
}
#header nav h3 a {
  color: var(--main-color);
}
#header nav ul li a:hover, #header nav h1 a:hover {
  color: var(--tertiary-color);
  border: var(--secondary-color) solid;
  border-radius: 5px;
  width: 100%;
  padding: .5em 2em;
}
#header h1 {
  font-weight: 800;
  font-size: x-large;
}
/* DRINK PAGES CSS */
#gin, #vodka, #bourbon, #create {
  background-color: var(--secondary-color);
}
.card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3em;
}
.card {
  width: max-content;
  padding: 2em;
  margin: 1em;
  flex-basis: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: var(--main-tran-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);

}
.card img {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
.card-title {
  font-weight: 600;
  font-size: 1.7em;
  margin: .5em 0 0 0;
  color: var(--white-color);
}
.card-group {
  padding: 1em 0;
  font-size: medium;
}
/* LOGIN PAGE CSS */
#login {
  background-color: var(--secondary-color);
}
#login div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#login form {
  margin: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 30%;
  padding: 2em;
  background-color: var(--main-tran-color);
  border-radius: 5px;
}
#login form input {
  margin: 1em 0;
  padding: 1em;
  border: none;
  border-radius: 5px;
  outline-color:var(--main-color);
}
#login h2 {
  text-align: center;
  color: var(--white-color);
  margin: 0 0 1em 0;
}
#login form button {
  border: none;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  color:var(--main-color);
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}
/* PROFILE PAGE CSS */
#profile-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#create aside, #drink-profiles {
  padding: 2em;
}
#create aside {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#create aside p {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}
#create aside img {
  border-radius: 50%;
}
#create .card-section {
  padding: 0;
}
#add-drink {
  font-weight: 700;
  font-size: 24px;
  padding: .5em .8em;
  margin: 1em auto;
  border: var(--main-color) solid;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
}
#add-drink:hover {
  box-shadow: var(--box-shadow);
}
#add-drink:active {
  color: var(--secondary-color);
  background-color: var(--main-color);
  border-color: var(--secondary-color);
}
.drink-info {
  padding: .5em 2em;
  justify-content: left;
  line-height: 24px;
  text-align: justify;
}
.drink-info h1 {
  padding: .5em 0;
}
/* FOOTER CSS */
footer {
  background-color: var(--main-color);
  border-top: var(--secondary-border-color);
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  background-color: var(--main-color);
}
footer ul li a {
  padding: .5em 1em;
  color: var(--secondary-color);
}
footer ul li a:hover {
  color: var(--tertiary-color);
}
/** DESKTOP CSS */
@media only screen and (min-width:768px) {
  #header nav, #header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #header nav ul li a, #header nav h1 a, #header nav h3 a {
    padding: 0 1em;
    margin: 0;
  }
  #header nav ul li a:hover, #header nav h1 a:hover, #header nav h3 a:hover{
    border: none;
    padding: 0 1em;
 }
  #open, #login #open {
    display: none;
  }
  #login form {
    width: 30%;
  }
  #profile-page {
    display: flex;
    flex-wrap: nowrap;
  }
  #create aside {
    max-width: 250px;
    padding: 1em 0;
  }
}