/** MOBILE CSS */
* {
  padding: 0%;
  margin: 0%;
}
/* TOGGLE CSS */
.toggleOff {
  display: none;
}
.toggleOn {
  display: block;
}
/* HOMEPAGE CSS */
#home {
  background-image: url(../public/pexels-rachel-claire-5490965.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
  height: 86vh;
}
#home-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #231a08;
  padding: 2em;
}
#home-header h1 {
  display: flex;
  justify-content: center;
  width: 100%;
}
#home-header h1 a {
  color: bisque;
}
#home-header h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 1em;
}
#home-header h3 a {
  color: white;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
#home-nav {
  display: flex;
  display: column;
  justify-content: center;
  padding: 5em 2em;
}
#home-nav ul {
  background-color: #231a08b9;
  padding: 2em;
  border-radius: 5px;
}
#home-nav ul h3 {
  text-align: center;
  color: bisque;
  padding-bottom: 1em;
  font-weight: 800;
  font-size: x-large;
}
#home-nav ul li {
  margin: .5em;
  text-align: center;

}
#home-nav ul li a {
  color: bisque;
  font-weight: 600;
  font-size: large;
}
#home-nav ul li a:hover, #home-header h3 a:hover {
  color: aquamarine;
}
#open {
  color: white;
  font-weight: 900;
  cursor: pointer;
  padding: 1em;
  width: fit-content;
  box-sizing: border-box;
  border: bisque solid;
  border-radius: 5px;
}
#open:hover {
  color: aquamarine;
}

.closed {
  display: none;
}

/* 2ND HEADER CSS */
#header {
  padding: 2em 1em;
  display: block;
  background-color: #231a08;
}
#header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#header nav ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#header nav ul li, #header nav h1, #header nav h3 {
  padding: 1em 0;
}
#header nav ul li a, #header nav h1 a {
  color: bisque;
  padding: 1em;
}
#header nav h3 a {
  color: white;
}
#header nav ul li a:hover, #header nav h1 a:hover, #header nav h3 a:hover{
  color: aquamarine;
  border: bisque solid;
  border-radius: 5px;
  width: 100%;
  padding: .5em 2em;
}
#header h1 {
  font-weight: 800;
  font-size: x-large;
}
/* DRINK PAGES CSS */
#gin, #vodka, #bourbon, #create {
  background-color: bisque;
}
.card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3em;
}
.card {
  width: max-content;
  padding: 2em;
  margin: 1em;
  flex-basis: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #231a08a9;
  color: bisque;
}
.card-title {
  font-weight: 600;
  font-size: 1.7em;
  color: white;
}
.card-group {
  padding: 1em 0;
  font-size: medium;
}
/* LOGIN PAGE CSS */
#login {
  background-color: bisque;
}
#login div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#login form {
  margin: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 30%;
  padding: 2em;
  background-color: #231a0880;
  border-radius: 5px;
}
#login form input {
  margin: 1em 0;
  padding: 1em;
  border: none;
  border-radius: 5px;
  outline-color:#231a08;
}
#login h2 {
  text-align: center;
  color: white;
  margin: 0 0 1em 0;
}
#login form button {
  border: none;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  background-color: aquamarine;
  color:#231a08;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

/* PROFILE PAGE CSS */
#profile-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#create aside, #drink-profiles {
  padding: 2em;
  
}
#create aside {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#create aside p {
  display: flex;
  flex-direction: column;
}
#create .card-section {
  padding: 0;
}
#add-drink {
  font-weight: 700;
  font-size: 24px;
  padding: .5em .8em;
  margin: 1em auto;
  border: #231a08 solid;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
}
#add-drink:hover {
  box-shadow: 0px 0px 5px black inset;
}
#add-drink:active {
  color: bisque;
  background-color: #231a08;
  border-color: bisque;
}
/* FOOTER CSS */
footer {
  background-color: #231a08;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  background-color: #231a08;
}
footer ul li a {
  padding: .5em 1em;
  color: bisque;
}
footer ul li a:hover {
  color: aquamarine;
}

/** DESKTOP CSS */
@media only screen and (min-width:768px) {
  #header nav, #header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #header nav ul li a, #header nav h1 a, #header nav h3 a {
    padding: 0 1em;
    margin: 0;
  }
  #header nav ul li a:hover, #header nav h1 a:hover, #header nav h3 a:hover{
    border: none;
    padding: 0 1em;
 }
  #open, #login #open {
    display: none;
  }

  #login form {
    width: 30%;
  }
  
}